@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url("./fonts/Estonia-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background: url('wp.jpg') no-repeat;
    background-position: center center;
}

p#nome {
    font-family: 'Estonia', cursive, sans-serif;
    font-size: 50pt;
    font-weight: bolder;
}

div#perfil {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    top: 200px;
    width: 500px;
    height: 150px;
    padding: 0px;
    margin: auto;
    border-radius: 2%;
}

div#container {
    padding: 20px;
    margin: auto;
}